.profile{
    padding: 18px 5px 5px 10px;
    display: flex;
}

.profile-img{
    width: 33%;
    height: 70px;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    margin-left: 9%;
}

.profile-info{
    padding:  7% 0% 0% 5%;
}

.username-text{
    margin-left: 8px;
}

.groupe-text{
    margin-left: 8px;
}

#file-button {
    margin-bottom: 5px;
    margin-top: 5px;
    color: #fff;
    background-color: #1DC7EA;
    border: none;
    font-size: 15px;
    text-transform: inherit;
}