:root{
    --back-color: #64647e;
    --main-color: #e15757;
    --second-color: #64647e;
}

.sidebar{
    background: var(--main-color);
    background-size: 150% 150%;
}

.btn-info.btn-fill{
    background-color: var(--main-color)!important;
    border: none!important;
}

section div [type="submit"]{
	background-color: var(--main-color);
}