:root{
    --back-color: #64647e;
    --main-color: #1DC7EA;
    --second-color: #64647e;
}


.sidebar{
    background: var(--main-color);
    background-size: 150% 150%;
}

.btn-info.btn-fill{
    background-color: var(--main-color)!important;
    border: none!important;
}

