@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}

/* index.php page css */

.container{
	padding: 20px 15px 1px 20px;
	margin: 3% auto;
}


label, input {
    display: block;
}

.btn{
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}

#link:hover{
  text-decoration: none;
}

#link_register:hover{
  color:white;
}

/* register.php page css */


