.profile{
    background-color: #03334a;
    padding: 10px 5px 10px 10px;
    display: flex;
}

#profile-img{
    width: 33%;
    height: 70px;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    margin-left: 9%;
}

.profile-info{
    padding:  7% 0% 0% 5%;
}

.username-text{
    margin-left: 8px;
}

.groupe-text{
    margin-left: 8px;
}

#file-button, #group-button, #post-button{
    color: #fff;
    background-color: #03334a;
    border: none;
    text-transform: inherit;
}

.line{
	width: 100%;
	height: 1px;
	border-bottom: 3px solid #eee;
}
.file{
    background-position: center;
    background-repeat: no-repeat;
}
.row{
    margin-left: 0!important;
}

.file-controls{
    display:inline;
    float: right;
}

.top-panel{
    margin-bottom: 10px;
	padding-right: 15px;
}

ul.CTAs {
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

ul.CTAs a {
    text-align: center;
    font-size: 1em;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
a.download{
	background: #fff;
	color: #7386D5;
}

.user-name{
    margin: 0;
}

/* download animation */
#ms-container {
	width: 100%;
	height: 100%;
	background: #1c9cf2;
    opacity: .9;
    position: absolute;
    top: 0;
    display: none;

}
.ms-content {
    cursor: pointer;
	position: absolute;
	width: 69%;
	height: 87%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 10px solid #2ea4f2;
	border-radius: 100%;
}

.ms-content-inside {
	width: 100%;
	height: 100%;
	position: relative;
}

.ms-line-down-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: rotate(0deg);
	transition: transform 0s ease;
}
#ms-download {
	display: none;
}

.ms-line-down {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 10px;
	height: 125px;
	background: #FFFFFF;
	border-radius: 50px;
	transition: height .5s ease;
}


.ms-line-point {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 58px;
	height: 130px;
	transition: height .15s ease .45s;
}

.ms-line-point:before,
.ms-line-point:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 75px;
	bottom: -10px;
	background: #FFFFFF;
	border-radius: 50px;
	transition: transform .15s ease .47s, left .15s ease .47s, right .15s ease .47s;
}

.ms-line-point:before {
	right: 0px;
	transform: rotate(45deg);
}

.ms-line-point:after {
	left: 0px;
	transform: rotate(-45deg);
}

.msg-container{
    background: #fff5d1;
    padding: 20px;
    margin-top: 2%;
}

.grp-add-container{
    margin: 2% auto;
    float: initial!important;
}


.grp-add-second-container{
    box-shadow: 0 0 2px 2px #eee;
    padding: 25px;
    background-color: #fff;
    border-radius: 5%;
}

.img-add-group{
    margin-bottom: 2%;
    text-align: center;
    text-align: -moz-center;
    text-align: -ms-center;
}

.add-group{
    text-align: center;
    text-align: -moz-center;
    text-align: -ms-center;
    margin-bottom: 2%;
}

#btn-add-group{
    padding: 10px 25px 10px 25px;
    background-color: #3472F7;
    color: white;
    border: none;
}

#img-group-td{
	width: 9.7%;
	width: -moz-min-content;
}

/* post style */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section .text {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  padding: 20px 20px 15px 20px;
  border-radius: 15px;
  box-shadow:0 0 1px 1px #ddd;
  z-index: 3;
  position: relative;
}
section div img {
  float: left;
  width: 60px;
  height: 60px;
}
section div textarea {
  width: 75%;
  height: 80px;
  border: none;
  padding: 5px 10px;
  font-family: arial;
  resize: none;
  outline: none;
  border-bottom: 2px solid #0077CC;
}
textarea::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #CCC;
  border-radius: 2px
}
section div [type = submit] {
  float: right;
  margin: 15px 10px auto auto;
  border: none;
  background-color: #0077CC;
  color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  font-size: 16px;
  width: 13%;
}
.overlay {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}
.post {
  background-color: #fff;
  width: 500px;
  margin: 10px auto;
  padding: 10px;
  color: #333;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  border-radius: 3px;
}

/* code group css */
code{
	cursor: pointer;
    background-color: #4e379b!important;
    color: #fff!important;
    padding: 9px 5px!important;
    
}
.copied::before {
	content: "Copied";
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
