/* all pages css */
@font-face {
    src: url(../fonts/roboto/Roboto-regular.ttf); 
    font-family: roboto-regular;
}

@font-face {
    src: url(../fonts/roboto/Roboto-Medium.ttf); 
    font-family: roboto-medium;
}

@font-face {
    src: url(../fonts/roboto/Roboto-bold.ttf); 
    font-family: roboto-bold;
}

.text-muted{
  color:#ca001c!important;
}

.register_as_text{
    color: #d8b714;
}

body{
  font-family: 'roboto-regular', sans-serif;
}

/* index.php page css */

.container{
	padding: 20px 15px 1px 20px;
	margin: 5% auto;
}


label, input {
    display: block;
}

.btn{
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: -ms-center;
}

#link:hover{
  text-decoration: none;
}

#link_register:hover{
  color:white;
}

/* register.php page css */


