/* main css */
.btn-outline-primary{
    border-color: #2b2b33;
    color: #64647e;
}

.btn-outline-primary:hover{
    border-color: #9b9b9b;
    color: #fff;
    background-color: #2b2b33;
}

/* register css */
.sign{
    color:#f7d30b;
}

.up{
    color:#64647e;
}

#submitNext{
    background-color: #f7d30b;
    color: #fff;
}

/* registerSecurity css */
.help_us_text{
    color: #f7d30b;
}

.secure_text{
    color:#64647e;
}

input.btn{
    background-color: #f7d30b;
}

input.btn:hover{
    background-color: #2b2b33;
    color: #fff;
}